<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Hello {{username}} </h1>

    <a href="{{url_for('stations')}}">Stations</a>
    <a href="{{url_for('logout')}}">Log out</a>
    {% for  sensebox_data in data %}
    <h3>
        {{sensebox_data["name"]}}
    </h3>
        {% for sensor in sensebox_data["sensors"] %}
    <div>
            {% if 'lastMeasurement' in sensor %}
                {{sensor["title"]}} :{{sensor["lastMeasurement"]["value"]}} {{sensor["unit"]}}
            {% else %}
                {{sensor["title"]}} : no value yet
            {% endif %}            
    </div>
        {% endfor %}
    {% endfor %}
</body>
</html>