{% extends "layout.html" %}


{% block head %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{station.station_name}}</title>
<style>
    @font-face {
        font-family: MinSans;
        src: url("{{ url_for('static', filename='MinSans-Light.otf') }}");
    }

    .alert {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 30px;
        padding: 15px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    html {
        background: url("/static/aerial.jpg") no-repeat center center fixed;
        background-size: cover;
        background-position: center;
        font-family: MinSans, Georgia, serif;
    }

    .collapsible {
        background-color: black;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .active,
    .collapsible:hover {
        background-color: black;
    }

    #station_id,
    #ttn_dev_id,
    #ttn_dev_eui,
    #ttn_app_key,
    #ttn_join_eui,
    #osem_id {
        cursor: not-allowed;
    }

    .content {
        background-color: black;
        padding: 18px 18px;
        display: none;
        overflow: hidden;
        color: white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .container {
        display: flex;
        flex-wrap: wrap
    }

    input[type="text"] {
        color: black;
    }

    .flex-item {
        background: tomato;
        padding: 5px;
        margin: 5px;

        line-height: 50px;
        color: white;
        font-weight: bold;
        font-size: 2em;
        text-align: center;
    }

    input[type=text],
    input[type=number],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .delete {
        width: 100%;
        background-color: #e71c1c;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .delete:hover {
        background-color: #ab4545;
    }

    .sensorTableSlotColumm {
        text-align: center;
    }

    #add-sensor-submit, #add-actor-submit {
        transition: background-color 0.5s ease;
    }

    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidebar:hover>a {
        opacity: 0.3;
    }

    .sidebar h1 {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidebar a:hover {
        color: #f1f1f1;
        opacity: 1;
    }

    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
        transition: 0.3s;

    }

    .openbtn:hover {
        background-color: #444;
    }

    #main {
        transition: margin-left .5s;
        padding: 16px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
    }

    @media screen and (max-height: 450px) {
        .sidebar {
            padding-top: 15px;
        }

        .sidebar a {
            font-size: 18px;
        }
    }

    .second-level-nav {
        font-size: 12px;
        text-indent: 12px;
    }

    #sensor-table, #actor-table {
        font-family: MinSans, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #sensor-table td, #actor-table td,
    #sensor-table th,  #actor-table th {
        border: 1px solid #ddd;
        padding: 8px;
    }



    #sensor-table tr:hover, #actor-table tr:hover {
        background-color: rgb(37, 37, 37);
    }

    #sensor-table th, #actor-table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: black;
        color: white;
    }

    .gg-software-download {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs, 1));
        width: 16px;
        height: 6px;
        border: 2px solid;
        border-top: 0;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        margin-top: 8px
    }

    .gg-software-download::after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 8px;
        height: 8px;
        border-left: 2px solid;
        border-bottom: 2px solid;
        transform: rotate(-45deg);
        left: 2px;
        bottom: 4px
    }

    .gg-software-download::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        border-radius: 3px;
        width: 2px;
        height: 10px;
        background: currentColor;
        left: 5px;
        bottom: 5px
    }
    .download-script{
        text-decoration: none;
        color: white;
    }
</style>
<link rel="stylesheet" href="{{url_for('static', filename='prism.css')}}" />
{% endblock %}


{% block body %}

<script src="{{url_for('static', filename='prism.js')}}"></script>

<div id="mySidebar" class="sidebar">
    <h1><u>Station settings</u></h1>
    <a href="javascript:void(0)" class="second-level-nav" onclick="setVisible('main-collapsible')">Name & location</a>
    <a href="javascript:void(0)" class="second-level-nav" onclick="setVisible('ttn-osem-collapsible')">TTN &
        OpenSenseMap</a>
    <a href="javascript:void(0)" class="second-level-nav" onclick="setVisible('sensor-collapsible')">Sensors</a>
    <a href="javascript:void(0)" class="second-level-nav" onclick="setVisible('actor-collapsible')">Actors</a>
    <a href="javascript:void(0)" class="second-level-nav" onclick="setVisible('lora32-code-collapsible')">LoRa32
        code</a>
    <a href="javascript:void(0)" class="second-level-nav" onclick="setVisible('python-code-collapsible')">Python
        code</a>
    <h1><u>Navigation</u></h1>
    <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">×</a>
    <a href="{{url_for('stations')}}" class="second-level-nav">Stations</a>
    <a href="{{url_for('dashboard')}}" class="second-level-nav">Dashboard</a>
    <a href="{{url_for('sensor_model')}}" class="second-level-nav">Sensor models</a>
    <a href="{{url_for('logout')}}" class="second-level-nav">Log out</a>
</div>

<div id="main">
    <button class="openbtn" onclick="toggleNav()">☰ Menu</button>

    <button id="main-collapsible" type="button" onClick="toggleCollapsible(this.id)" class="collapsible">Edit or delete
        {{station.station_name}}</button>

    <div class="content">
        <div class="form_container" style="display: flex; flex-direction: column">
            <h1>Station meta data</h1>
            <form method="POST" action="">
                {{form.hidden_tag()}}
                <label for="station_name">Station name:</label>
                {{form.station_name}}
                <label>UrbanGardenBus NodeId:</label>
                <input id="station_id" type="text" value="{{station.id}}" disabled>
                <label for="latitude">Latitude:</label>
                {{form.latitude}}
                <label for="longitude">Longitude:</label>
                {{form.longitude}}
                <label for="height">Height:</label>
                {{form.height}}
                {{form.submit}}
            </form>
            <form action="{{url_for('delete_station', id=station.id)}}"
                onsubmit="return confirm('Are you sure you want to delete {{station.station_name}} and all its sensors?');">
                <button class='delete' type="submit">Delete this station</button>
            </form>
        </div>
    </div>
    <button id="ttn-osem-collapsible" type="button" onClick="toggleCollapsible(this.id)" class="collapsible">Show TTN
        and OpenSenseMap info for {{station.station_name}}</button>

    <div class="content">
        <h1>TheThingsNetwork</h1>
        <label>TheThingsNetwork DevEUI:</label>
        <input id="ttn_dev_eui" type="text" value="{{ttn_data['dev_eui']}}" disabled>
        <label>TheThingsNetwork DevId:</label>
        <input id="ttn_dev_id" type="text" value="{{ttn_data['dev_id']}}" disabled>
        <label>TheThingsNetwork AppKey:</label>
        <input id="ttn_app_key" type="text" value="{{ttn_data['app_key']}}" disabled>
        <label>TheThingsNetwork JoinEUI:</label>
        <input id="ttn_join_eui" type="text" value="{{ttn_data['join_eui']}}" disabled>
        <h1>OpenSenseMap</h1>
        <label>OpenSenseMap Sensebox Id:</label>
        <input id="osem_id" type="text" value="{{osem_data['sensebox_id']}}" disabled>
    </div>
    <button id="sensor-collapsible" type="button" onClick="toggleCollapsible(this.id)" class="collapsible">Add, delete
        and calibrate sensors </button>
    <div class="content">
        <h1>Sensors</h1>
        <form method="POST" action="{{url_for('add_sensor_to_station', station_id=station.id)}}">
            {{sensor_form.hidden_tag()}}
            <label for="sensor_type">Sensor type:</label>
            {{sensor_form.sensor_type}}
            <br>
            <label for="slot">Slot:</label>
            {{sensor_form.sensor_slot}}
            {{sensor_form.submit}}
            <b>Not finding the sensor you are looking for? <a href="/sensormodel">Create a new sensor model!</a> </b>

        </form>
        {% if sensors|length == 0 %}
        <h2>No sensors added yet</h2>
        {% else %}
        <table id="sensor-table">
            <th>Sensor model</th>
            <th>Slot</th>
            <th>Calibration value</th>
            <th>Phenomenon</th>
            <th></th>
            {% for sensor in sensors %}
            <tr>
                <td>
                    {{ sensor["sensor_model_name"] }}
                </td>
                <td class="sensorTableSlotColumm">
                    {{ sensor["sensor_slot"] }}
                </td>
                <td>
                    {% if sensor["calibration_needed"] %}
                    <form method="POST" action="{{url_for('calibrate_sensor', sensor_id=sensor['sensor_id'])}}"
                        onsubmit="return false;">
                        <input onfocusout="this.form.submit(); return false;"
                            onkeypress='javascript: if(event.key==="Enter"){event.preventDefault();this.form.submit();return false;}'
                            id="" name="calibration_value" type="number" step="0.01"
                            value='{{ sensor["calibration_value"] }}''>
                        </form>
                        {% endif %}
                    </td>
                    <td>{{ sensor["phenomenon"] }}</td>
                    <td>
                        <form method="POST"
                            action="{{url_for('delete_sensor', station_id=station.id, slot=sensor['sensor_slot'])}}"
                            onsubmit="return confirm('Are you sure you want to delete {{sensor['sensor_model_name']}} on slot {{sensor['sensor_slot']}}?');">
                        <button class="delete" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>

        {% endif %}
    </div>

    <button id="actor-collapsible" type="button" onClick="toggleCollapsible(this.id)" class="collapsible">Add actors </button>
    <div class="content">
        <h1>Actors</h1>
        <form method="POST" action="{{url_for('add_actor_to_station', station_id=station.id)}}">
            {{actor_form.hidden_tag()}}
            <label for="actor_name">Actor name:</label>
            {{actor_form.actor_name}}
            <br>
            <label for="actor_slot">Slot:</label>
            {{actor_form.actor_slot}}
            {{actor_form.submit}}
        </form>
        {% if actors|length == 0 %}
        <h2>No actors added yet</h2>
        {% else %}
        <table id="actor-table">
            <th>Actor name</th>
            <th>Slot</th>
            <th>Value</th>
            <th></th>
            {% for actor in actors %}
            <tr>
                <td>
                    {{ actor["actor_name"] }}
                </td>
                <td class="actorTableSlotColumm">
                    {{ actor["actor_slot"] }}
                </td>
                <td>
                    <form method="POST" action="{{url_for('set_actor_value', actor_id=actor['actor_id'])}}"
                        onsubmit="return false;">
                        <input onfocusout="this.form.submit(); return false;"
                            onkeypress='javascript: if(event.key==="Enter"){event.preventDefault();this.form.submit();return false;}'
                            id="" name="actor_value" type="number" step="0.01"
                            value='{{ actor["actor_value"] }}''>
                        </form>
                    </td>
                    <td>
                        <form method="POST"
                            action="{{url_for('delete_actor', actor_id=actor['actor_id'])}}"
                            onsubmit="return confirm('Are you sure you want to delete {{actor['actor_name']}} on slot {{actor['actor_slot']}}?');">
                        <button class="delete" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>

    <button id="lora32-code-collapsible" onClick="toggleCollapsible(this.id)" type="button" class="collapsible">Show or
        hide
        Lora32 code for {{station.station_name}}</button>
    <div class="content">
        <div id="lora32-client-code">
            <h1>Lora32 client code</h1>
            <a class="download-script" href="javascript:void(0)" onclick="downloadScript('lora32')">
                <div>
                    main.cpp
                    <i class="gg-software-download"></i>
                </div>
            </a>
            <br>
            <pre><code id="lora32-code-container" class="language-arduino">{{lora32_client_code}}</code></pre>
        </div>
    </div>

    <button id="python-code-collapsible" onClick="toggleCollapsible(this.id)" type="button" class="collapsible">Show or
        hide
        Python code for {{station.station_name}}</button>
    <div class="content">
        <div id="python-client-code">
            <h1>Python client code</h1>
            <a class="download-script" href="javascript:void(0)" onclick="downloadScript('python')">
                <div>
                    my_client.py
                    <i class="gg-software-download"></i>
                </div>
            </a>
            <br>
            <pre><code id="python-code-container" class="language-python">{{python_client_code}}</code></pre>
        </div>
    </div>
    <iframe id="map-iframe" src="{{url_for('map')}}" width="100%" height="700px" frameBorder="0"></iframe>
</div>
</div>
</div>

<script>
    let pageFresh = true;
    setVisible("main-collapsible");
    var toggle = false;
    function toggleNav() {
        toggle = !toggle;
        if (toggle) {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }
        else {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    }
    function setVisible(id) {
        console.log(id)
        if (!pageFresh) {
            toggleNav();
        }
        pageFresh = false;
        //toggleCollapsible(id);
        let collapsibles = document.getElementsByClassName("collapsible");
        for (let element of collapsibles) {
            let content = element.nextElementSibling;

            if (element.id == id) {
                element.style.display = "block";
                content.style.display = "block";
            } else {
                element.style.display = "none";
                content.style.display = "none";
            }
        }

    }

    //sensor slot validation, dirty solution, combine with actor slot validation
    let extendCollapsible = {{ extend_collapsible }}
    let sensorSlotInput = document.getElementById('sensor_slot')
    let blockedSensorSlots = {{ blocked_sensor_slots_for_station }}
    for (let i = 0; i < 255; i++) {
        if (!blockedSensorSlots.includes(i)) {
            sensorSlotInput.value = i;
            break;
        }
    }
    sensorSlotInput.onchange = function () {
        submitButton = document.getElementById("add-sensor-submit");
        if (blockedSensorSlots.includes(parseInt(sensorSlotInput.value))) {
            sensorSlotInput.style = "border:1px solid red;"
            submitButton.disabled = true;
            submitButton.style = "background-color: #e71c1c;";
            submitButton.value = "Slot unavailable"

        } else {
            submitButton.disabled = false;
            sensorSlotInput.style = "border: 1px solid white;"
            submitButton.style = "background-color: #4CAF50;";
            submitButton.value = "Add sensor"
        }
    }

    //actor slot validation
    let actorSlotInput = document.getElementById('actor_slot')
    let blockedActorSlots = {{ blocked_actor_slots_for_station }}
    for (let i = 0; i < 255; i++) {
        if (!blockedActorSlots.includes(i)) {
            actorSlotInput.value = i;
            break;
        }
    }
    actorSlotInput.onchange = function () {
        submitButton = document.getElementById("add-actor-submit");
        if (blockedActorSlots.includes(parseInt(actorSlotInput.value))) {
            actorSlotInput.style = "border:1px solid red;"
            submitButton.disabled = true;
            submitButton.style = "background-color: #e71c1c;";
            submitButton.value = "Slot unavailable"

        } else {
            submitButton.disabled = false;
            actorSlotInput.style = "border: 1px solid white;"
            submitButton.style = "background-color: #4CAF50;";
            submitButton.value = "Add actor"
        }
    }

    //let collapsible = document.getElementById("collapsible")
    function toggleCollapsible(id) {
        let collapsible = document.getElementById(id)
        collapsible.classList.toggle("active");
        var content = collapsible.nextElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
            console.log("height: " + (collapsible.offsetHeight + content.offsetHeight))
        } else {
            content.style.display = "block";
            console.log("height: " + (collapsible.offsetHeight + content.offsetHeight))
        }
    }
    //collapsible.addEventListener("click", toggleCollapsible);
    //let lora32ClientCode = document.getElementById("lora32-code-collapsible");
    //let pythonClientCode = document.getElementById("python-code-collapsible");
    //lora32ClientCode.addEventListener("click", toggleCollapsible);
    //pythonClientCode.addEventListener("click", toggleCollapsible);

    if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
        console.info("This page is reloaded");
        toggleCollapsible();
    } else {
        toggleCollapsible();
        console.info("This page is not reloaded");
    }

    //Keep scroll position between reloads
    document.addEventListener("DOMContentLoaded", function (event) {
        var scrollpos = localStorage.getItem('scrollpos');
        if (scrollpos) window.scrollTo(0, scrollpos);
    });

    window.onbeforeunload = function (e) {
        localStorage.setItem('scrollpos', window.scrollY);
    };
    function downloadScript(type){
        const link = document.createElement("a");
        
        const content = type=="python" ? document.getElementById("python-code-container").innerText : document.getElementById("lora32-code-container").innerText;        
        const file = new Blob([content], { type: 'text/plain' });
        link.href = URL.createObjectURL(file);
        let filename = type=="python" ? "my_client.py" : "main.cpp" 
        link.download = filename;
        link.click();
        URL.revokeObjectURL(link.href);
    }
</script>
{% endblock %}

</html>